name: Lab4 CI-CD

on:
  push:
    branches: ["main"]

jobs:
  train:
    name: Train (CI)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run training
        run: |
          python mlops_lab1.py

      - name: Install jq
        run: |
          sudo apt-get update
          sudo apt-get install -y jq

      - name: Show results
        run: |
          ls -la output
          cat output/results.json

      - name: Upload model + results
        uses: actions/upload-artifact@v4
        with:
          name: trained_model_artifacts
          path: output/

  deploy:
    name: Deploy (CD)
    needs: train
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download trained artifacts
        uses: actions/download-artifact@v4
        with:
          name: trained_model_artifacts
          path: output/

      - name: Compare metrics with BEST values
        id: compare
        env:
          BEST_R2: ${{ vars.BEST_R2 }}
          BEST_MSE: ${{ vars.BEST_MSE }}
        run: |
          python - << 'PY'
          import json, os

          data = json.load(open("output/results.json"))
          cur_r2 = float(data["r2"])
          cur_mse = float(data["mse"])

          best_r2 = float(os.environ["BEST_R2"])
          best_mse = float(os.environ["BEST_MSE"])

          improved = (cur_r2 > best_r2) and (cur_mse < best_mse)

          with open(os.environ["GITHUB_OUTPUT"], "a") as f:
              f.write(f"improved={'true' if improved else 'false'}\n")
              f.write(f"cur_r2={cur_r2}\n")
              f.write(f"cur_mse={cur_mse}\n")

          print("BEST_R2:", best_r2)
          print("BEST_MSE:", best_mse)
          print("CUR_R2:", cur_r2)
          print("CUR_MSE:", cur_mse)
          print("IMPROVED:", improved)
          PY

      - name: Stop if model did not improve
        if: steps.compare.outputs.improved != 'true'
        run: |
          echo "Model did not improve. Skipping deployment."
          exit 0

      - name: Login to Docker Hub
        if: steps.compare.outputs.improved == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Prepare model for Docker
        if: steps.compare.outputs.improved == 'true'
        run: |
          cp output/model.pkl model.pkl

      - name: Build & Push Docker image
        if: steps.compare.outputs.improved == 'true'
        run: |
         docker build -t "${{ secrets.DOCKERHUB_USERNAME }}/wine_predict_2022bcs0193:latest" .
         docker push "${{ secrets.DOCKERHUB_USERNAME }}/wine_predict_2022bcs0193:latest"


      - name: Update BEST_R2
        if: steps.compare.outputs.improved == 'true'
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
          REPO: ${{ github.repository }}
        run: |
          curl -X PATCH \
            -H "Authorization: Bearer $GH_TOKEN" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/$REPO/actions/variables/BEST_R2 \
            -d "{\"name\":\"BEST_R2\",\"value\":\"${{ steps.compare.outputs.cur_r2 }}\"}"

      - name: Update BEST_MSE
        if: steps.compare.outputs.improved == 'true'
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
          REPO: ${{ github.repository }}
        run: |
          curl -X PATCH \
            -H "Authorization: Bearer $GH_TOKEN" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/$REPO/actions/variables/BEST_MSE \
            -d "{\"name\":\"BEST_MSE\",\"value\":\"${{ steps.compare.outputs.cur_mse }}\"}"
